body {
    background-color: black;
    color: #d0d1d2;
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  #nav-nav {
    margin-left: 300px;
  }
  
  .navbar-inverse .navbar-nav>li>a {
    color: #201616;
  }
  
  .container-fluid {
    background-color: white;
    height: 100px;
    padding: 30px;
  }
  
  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4,
  .nav-5 {
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .img {
    height: 55px;
    display: grid;
    align-items: center;
  }
  
  .bg {
    height: 620px;
    width: 100%;
    margin: 0px;
    opacity: 0.05;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  #navbar-margin {
    margin: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .technology {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
    right: 120px;
  }
  
  .background1 {
    position: relative;
  }
  
  h1 {
    font-family: 'ZCOOL XiaoWei';
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .info {
    font-family: 'Satoshi';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 850px;
    margin-left: 200px;
  }
  
  .btn-1 {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: #d7fe63;
    margin-left: 450px;
    border: none;
  }
  
  .btn-2 {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: #dadada;
    margin-left: 10px;
    border: none;
  }
  
  .login-btn {
    color: black;
    text-decoration: none;
    font-family: satoshi;
    font-weight: bold;
  }
  
  .abt {
    font-size: 30px;
    text-align: center;
  }
  
  .underline1 {
    width: 125px;
    border-bottom: solid;
    margin-left: 668px;
    border-color: #d7fe63;
  }
  
  .abt-p {
    position: absolute;
    width: 1081px;
    height: 120px;
    left: calc(50% - 1081px/2 + 0.5px);
    top: 900px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #d0d1d2;
  }
  
  .learn {
    position: absolute;
    width: 106px;
    height: 27px;
    left: 96px;
    top: 530px;
    text-decoration: none;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #bfb7b7;
  }
  
  .arrow {
    position: absolute;
    left: 100%;
    right: 78.64%;
    top: 0%;
    bottom: 20%;
    font-size: 27px;
    color: #d7fe63;
  }
  
  .event {
    position: absolute;
    width: 390px;
    height: 49px;
    left: 70px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
  }
  
  .events-div {
    position: absolute;
    top: 1200px;
    height: 700px;
    width: 100%;
  }
  
  .underline2 {
    width: 380px;
    border-bottom: solid;
    margin-left: 70px;
    border-color: #d7fe63;
    position: absolute;
    top: 133px;
  }
  
  .carousel-inner {
    padding: 5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .card {
    box-shadow: 2px 12px 7px 0 rgba(56, 56, 59, 0.18);
    height: 270px;
    width: calc(25% - 50px);
    padding: 6px;
    position: relative;
  }
  
  .card:not(:last-child) {
    margin-right: 50px;
  }
  
  .card:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 90%;
    width: 2px;
    background-color: white;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: -50px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: -50px;
  }
  
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
      justify-content: flex-start; /* Align cards to the left */
    }
  }
  
  .card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    max-height: 100%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* Hide previous and next buttons */
  }
  